
@{
    ViewData["Title"] = "RecuperarPassword";
}

<div class="margen-inicial formulario">
    <h2 class="texto">Recuperar la contraseña</h2>
    <br />
    @using (Html.BeginForm())
    {
        <div class="form-content">
            <p style="color:whitesmoke;">Introduzca el email de su cuenta registrada para poder recuperar su contraseña</p>
        </div>
        <div class="form-content">
            <label>Email:</label>
            <input type="email" name="email" class="form-control" />
        </div>
        <div class="form-content">
            <br />
            <p class="error">@ViewData["Mensaje"]@ViewData["MensajeExito"]</p>
            <button type="submit" class="site-btn">Enviar email recuperación</button>
        </div>
    }

</div>

