
@{
    ViewData["Title"] = "ActivarCuenta";
}

<div class="margen-inicial">
    <h3 style="color:whitesmoke;">Tu cuenta ha sido activada correctamente. Ya puedes acceder a tu perfil.</h3>
    <h4 style="color:whitesmoke;">Accede a tu perfil desde @Html.ActionLink("aquí", "Perfil", "Usuarios")</h4>
</div>
