
@{
    ViewData["Title"] = "EnviarEmailActivacion";
}

    <div class="margen-inicial">
        <h2 style="color:whitesmoke;">@ViewData["Mensaje"]</h2>
        <br />
        <h4>@Html.ActionLink("Volver al inicio", "Index", "Juegos", null, new { @class = "site-btn" });</h4>
    </div>

